
$num__cols: 12;
// Media Query Ranges
$smallest__up: 1px;
$small:        480px;
$small__up:    481px;
$medium:       782px;
$medium__up:   783px;
$large:        1024px;
$large__up:    1025px;
$xlarge:       1440px;
$xlarge__up:   1441px;